footer {
    background-color: white;
    padding: 10rem 0;
  }
  
  .footer-content {
    display: grid;
    color: #010103;
    grid-template-columns: 27fr 21fr 21fr 21fr;
    gap: 8rem;
    justify-content: center;
    text-align: left;
    color: black;
  
    @media (max-width: 1400px) {
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      max-width: 90%;
    }
  
    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 70%;
    }
    @media (max-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 60%;
    }
    @media (max-width: 800px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 650px) {
      grid-template-columns: 1fr 1fr;
    }
  
    &__1 {
      list-style: none;
      // max-width: 30rem;
  
      @media (max-width: 650px) {
        text-align: center;
      }
  
      li {
        a {
          text-decoration: none;
          color: black;
          transition: all 0.2s;
  
          &:hover {
            color: #f28704;
          }
        }
  
        &:nth-child(1) {
          font-size: 2rem;
          margin-bottom: 1.5rem;
  
          span {
            font-weight: 700;
          }
        }
  
        &:nth-child(2) {
          font-size: 1.2rem;
          color: gray;
          line-height: 1.7;
          margin-bottom: 3rem;
        }
  
        &:nth-child(3),
        &:nth-child(4) {
          font-size: 1.2rem;
        //   font-family: $text-font;
          font-weight: 500;
          margin-bottom: 1rem;
        }
      }
    }
  
    &__2 {
      list-style: none;
  
      @media (max-width: 650px) {
        text-align: center;
      }
  
      a {
        text-decoration: none;
        color: black;
        transition: all 0.2s;
  
        &:hover {
          color: purple;
        }
      }
  
      li {
        font-size: 1.2rem;
        margin-bottom: 1rem;
  
        &:nth-child(1) {
          font-size: 2rem;
          font-weight: 700;
          text-transform: uppercase;
        //   font-family: $titles-font;
          cursor: auto;
        }
      }
  
      input {
        // font-family: $text-font;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        background-color: #ececec;
        border-width: 1px;
        border-color: transparent;
        padding: 10px 60px;
        outline: none;
        margin-top: 1rem;
  
        @media (max-width: 1100px) {
          width: 100%;
        }
      }
    }
  }
  
  .submit-email {
    text-decoration: none;
    color: black;
    font-weight: 700;
    background-color: white;
    padding: 1.5rem 2.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 10px 15px 0 rgba(61, 54, 53, 0.25);
    transition: all 0.3s;
    border: 2px solid black;
    font-size: 1.5rem;
    width: fit-content;
    cursor: pointer;
    width: 100%;
  
    &:hover {
      box-shadow: 0 10px 15px 0 rgba(13, 11, 14, 0.4);
      background-color: gray;
    }
  }